.seven-hour {
    display: -ms-flexbox;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column: 1 /span 3;
    justify-self: stretch;
}

.seven-hour-card {
  font-family: 'IBM Plex Sans', sans-serif;
  display: grid;
  justify-items: center;
  align-self: center;
}