@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700');

*{
  box-sizing: border-box;
}

.card {
  background: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 2%;
  border-radius: 4%;
  margin-bottom: 2%;
  font-family: 'IBM Plex Sans', sans-serif;
}

.card__subtitle {
  display: inline-block;
}

.card__temp {
}

.card__todayLow {
}

#card0 {
}

#card5{
}