@import url('https://fonts.googleapis.com/css?family=Elsie:400,900|Open+Sans');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  background: #E5D9F2;
  color: #031926;
}
