.search-form {
    display: grid;
    align-self: center;
    justify-items: center;
}

.searchField {
  width: 100%;
  height: 65px;
  border-radius: 7px;
  border: none;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  font-family: 'Elsie', cursive;
  -webkit-box-shadow: 0px 15px 5px rgba(0,0,0, 0.1), 10px 20px 5px rgba(0,0,0,0.05), -10px 20px 5px rgba(0,0,0,0.05);
  box-shadow: 0px 15px 5px rgba(0,0,0, 0.1), 10px 20px 5px rgba(0,0,0,0.05), -10px 20px 5px rgba(0,0,0,0.05);
}

