@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700');

*{
  box-sizing: border-box;
}

.tomorrow {
  background: #F5EFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
  border-radius: 4%;
  box-shadow:  0px 15px 5px rgba(0,0,0,0.1),
  10px 20px 5px rgba(0,0,0,0.05),
  -10px 20px 5px rgba(0,0,0,0.05);
  justify-items: center;
  align-items: center;
}

.tomorrow__title {
  font-family: 'Elsie', cursive;
  justify-self: center;
}

.tomorrow__fullForecast {
  padding: 13px;
  font-size: 1.2em;
}

.tomorrow__subtitle {
  display: inline-block;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2em;
}

.tomorrow__todayHigh {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 3em;
}

.tomorrow__todayLow {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 3em;
}