.weather {
  background: #F5EFFF;
  /* width: 50%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2%;
  border-radius: 4%;
  justify-items: center;
  align-items: center;
  box-shadow:  0px 15px 5px rgba(0,0,0,0.1),
  10px 20px 5px rgba(0,0,0,0.05),
  -10px 20px 5px rgba(0,0,0,0.05);
}

.weather__city {
  font-family: 'Elsie', cursive;
  justify-self: center;
  grid-column: span 3;
}

.weather__fullForecast {
  grid-column: span 3;
}

.weather__icon {
  grid-column: span 2;
  width: 200px;
}

.weather__temp {
  grid-row: 3;
}

.weather__subtitle {
  text-align: center;
}

.weather__todayHigh {
  grid-row: 3;
  font-size: 3em;
}

.weather__todayLow {
  grid-row: 3;
  font-size: 3em;
}